@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    display: grid;
    background: rgb(238, 174, 202);
    background: linear-gradient(30deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%) fixed;
    }

h1 {
        text-align: center;
        font-weight: bold;
        /* font-family:sans-serif; */
        /* color: rgba(88, 72, 97, 0.5); */
        color: rgba(195, 180, 216, 1);
        font-size:1.2cm;
        text-shadow: 1px -1px 3px rgb(111, 134, 181),
        -1px 1px 3px rgb(186, 127, 166);
        } 

h2 {
        text-align: center;
        color: rgb(233, 213, 222);
        text-shadow: 1px -1px 3px rgb(111, 134, 181),
        -1px 1px 3px rgba(88, 72, 97, 0.5);
        } 
