
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


body {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0px;
    background-color: black;
    color: white;
    font-size: 40px;
}

h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 120px; 
    font-variant: normal; 
    font-weight: 1200; 
    color:rgba(74, 17, 17, 0.632); 
    -webkit-text-stroke-color: rgba(74, 17, 17, 0.632);
    font-weight: bolder;
    /* -webkit-text-stroke-width: .1px;   */
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(94, 48, 48),
    0 0 82px rgb(94, 48, 48),
    0 0 92px rgb(94, 48, 48),
    0 0 102px rgb(94, 48, 48),
    0 0 151px rgb(94, 48, 48);
}

h2 {
    color: rgba(52, 9, 9, 0.632);
    font-weight: bolder;
    font-size: 40px;
    -webkit-text-stroke-color: rgba(74, 17, 17, 0.632);
    font-weight: bolder;
    -webkit-text-stroke-width: .1px;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(94, 48, 48),
    0 0 82px rgb(94, 48, 48),
    0 0 92px rgb(94, 48, 48),
    0 0 102px rgb(94, 48, 48),
    0 0 151px rgb(94, 48, 48);
}


#banner {
    background-image: url('why-i-love-good-fight-articleLarge-v2.gif');
    background-repeat:no-repeat;
    background-position: 50% 60%;
    background-size: cover;
    margin: 20PX;
    padding: 5vh 5px;
    text-align: center;
  }

.text {
    padding: 0px; 
    text-align: center;
    margin: 100px;
    /* text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff; */
    /* border: 1px solid white;
  
}

.red {
  color: white;
  font-size: 35px;
  /* text-shadow: 1px -1px 3px rgba(143, 162, 199, 1),
        -1px 1px 3px rgba(154, 137, 164, 0.5);
      color: #fff; */
  /* text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(94, 48, 48),
    0 0 82px rgb(94, 48, 48),
    0 0 92px rgb(94, 48, 48);
    /* 0 0 102px #fff,
    0 0 151px #fff; */ 
}

.section {
  display: flex;
  padding: 50px;
  margin: 50px;
}

.section p {
  flex: 2;
}

.section svg {
  /* border: 1px solid white; */
  flex: 2;
  height: 200px;
  margin: 20px;
  text-align: center;
  
}

@media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
  }
.winemap {
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 0px;
    
 }


 /* .winemap svg {
    border: 1px solid white;

  } */

  #tooltip {
    display: none;
    position: absolute;
  }

  button {
    margin: auto;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding: 0;
    border: none;
    border-radius: 8%;
    width: 170px;
    height: 50px;
    background: rgb(138, 60, 110);
    background: linear-gradient(30deg, rgba(140, 49, 99, 0.632) 0%, rgba(74, 17, 17, 0.632) 100%);
    color: rgb(222, 212, 237);
    /* font-size: 3.6em;
    font-weight: 600; */

    box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
        inset 0 2px 1px 1px rgba(255, 255, 255, 0),
        1px 1px 15px 2px rgba(154, 137, 164, 0.5);

    text-shadow: 1px -1px 3px rgba(143, 162, 199, 1),
        -1px 1px 3px rgba(154, 137, 164, 0.5);
    outline: none;

 -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
    -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
    transition: box-shadow 0.4s, text-shadow 0.5s;
}

button:hover {
  cursor: pointer;

  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.15),
      inset 0 2px 1px 1px rgba(255, 255, 255, 0),
      1px 1px 15px 2px rgba(154, 137, 164, 0.1);

  text-shadow: 3px -3px 5px rgba(143, 162, 199, 1),
      -3px 3px 5px rgba(192, 151, 178, 1);

  -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
  -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
  transition: box-shadow 0.4s, text-shadow 0.5s; }


button:active {
  background: linear-gradient(30deg,
      rgba(210, 178, 212, 1) 0%,
      rgba(177, 183, 223, 1) 100%);
  color: rgba(192, 181, 218, 1);

  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.15),
      1px 1px 15px 2px rgba(154, 137, 164, 0.1);

  text-shadow: 1px -1px 1px rgba(143, 162, 199, 0.75),
      -1px 1px 1px rgba(192, 151, 178, 0.75);
}

.flex-parent {
  display: flex;
  margin:100px;
  padding: 0px;
}

.jc-center {
  justify-content: center;
}
button.margin {
  margin-right: 50px;
}


#tooltip {
  background-color: #555;
  border: 1px solid #555;
  font-size: 28px;
  border-radius: 6px;
  display: none;
  padding: 10px;
  position: absolute;
}

.list {
  margin: 90px;
}