body {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    margin: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
}

h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 50px; 
    font-style: bold; 
    font-variant: normal; 
    font-weight: 1200; 
    color:white; 
    -webkit-text-stroke-color: rgb(143, 3, 3);
    font-weight: bolder;
    -webkit-text-stroke-width: .1px;  
}

h2 {
    color: white;
    font-weight: bolder;
    font-size: 20px;
}


#banner {
    background-image: url('why-i-love-good-fight-articleLarge-v2.gif');
    background-repeat:no-repeat;
    background-position: 50% 60%;
    background-size: cover;
    padding: 25vh 25px;
    text-align: center;
  }

.text {
    padding: 100px; 
    text-align: center;
}

.section {
  display: flex;
  padding: 50px;
}

.section p {
  flex: 2;
}

.section svg {
  border: 1px solid white;
  flex: 2;
  height: 200px;
  margin: 20px;
  text-align: center;
}

@media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
  }
.winemap {
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 50px;
    
 }

 /* .winemap svg {
    border: 1px solid white;

  } */

  #tooltip {
    display: none;
    position: absolute;
  }

  button {
    margin: auto;
    padding: 0;
    border: none;
    border-radius: 8%;
    width: 110px;
    height: 40px;
    background: rgb(138, 60, 110);
    background: linear-gradient(30deg, rgb(154, 49, 82) 0%, rgb(99, 19, 45) 100%);
    color: rgb(222, 212, 237);
    /* font-size: 3.6em;
    font-weight: 600; */

    box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
        inset 0 2px 1px 1px rgba(255, 255, 255, 0),
        1px 1px 15px 2px rgba(154, 137, 164, 0.5);

    text-shadow: 1px -1px 3px rgba(143, 162, 199, 1),
        -1px 1px 3px rgba(154, 137, 164, 0.5);
    outline: none;

 -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
    -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
    transition: box-shadow 0.4s, text-shadow 0.5s;
}

button:hover {
  cursor: pointer;

  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.15),
      inset 0 2px 1px 1px rgba(255, 255, 255, 0),
      1px 1px 15px 2px rgba(154, 137, 164, 0.1);

  text-shadow: 3px -3px 5px rgba(143, 162, 199, 1),
      -3px 3px 5px rgba(192, 151, 178, 1);

  -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
  -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
  transition: box-shadow 0.4s, text-shadow 0.5s; }


button:active {
  background: linear-gradient(30deg,
      rgba(210, 178, 212, 1) 0%,
      rgba(177, 183, 223, 1) 100%);
  color: rgba(192, 181, 218, 1);

  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.15),
      1px 1px 15px 2px rgba(154, 137, 164, 0.1);

  text-shadow: 1px -1px 1px rgba(143, 162, 199, 0.75),
      -1px 1px 1px rgba(192, 151, 178, 0.75);
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}
button.margin-right {
  margin-right: 20px;
}